.btn {
    display: block;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: $font-lg;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
    z-index: 1;

    span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: all .2s ease-in-out;
        z-index: -1;
    }

    &:hover {
        span {
            transform: translateY(0);
        }
    }

    &--primary {
        background-color: $color-001;
        color: $color-004;

        span {
            background-color: $color-004;
        }

        &:hover {
            color: $color-001;
        }
    }

    svg {
        font-size: $font-md;
        margin-left: 5px;
    }

}