// COLORS
$black: #000;
$white: #fff;
$color-001: #fec5bb;
$color-002: #84a59d;
$color-003: #f6bd60;
$color-004: #590d22;
$color-005: #D7F5D3;

// FONT-SIZES
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2.4rem;
$font-xxl: 3.2rem;
$font-xxxl: 6.4rem;