* {
    box-sizing: border-box;

    &::selection {
        background-color: $color-004;
        color: $white;
    }
}

html {
    font-size: 10px;
}

body {
    font-size: $font-lg;
    color: $color-004;
}

main {
    padding: 50px 0 100px;
    background-color: rgba($color: $color-001, $alpha: 0.2);

    &:has(header) {
        padding: 0;
    }
}

.container {
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $black;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
}

.full-link {
    position: absolute;
    inset: 0;
}