nav {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        gap: 30px;

        a {
            color: $color-002;
        }
    }
}